name: CI:Build
on:
  push:
    branches:
      - master
      - stable
jobs:
  build:
    name: ci-build
    runs-on: ubuntu-latest
    - uses: actions/checkout@master
      with:
        fetch-depth: 1
    - name: make (compile)
        env:
          - TOKEN: sec3et
        run: make
